@keyframes gradient-x {
  0%, 100% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
}

.animate-gradient-x {
  background-size: 200% 200%;
  animation: gradient-x 15s ease infinite;
}

/* Slow rotation for Kolam */
@keyframes rotate-slow {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.rotate-slow {
  animation: rotate-slow 180s linear infinite;
}



/* === Custom Scrollbar for Modal === */
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.6); /* black with low opacity */
  border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.8); /* darker when hovered */
}

/* Optional - makes scrollbar invisible in normal content and visible only in modal */
.modal-scroll::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.7);
}
